<div class="timer">
	<input *ngIf="pomodoro.editing" type="text" class="form-control" id="statusLabel"
  		required [(ngModel)]="pomodoro.statusLabel" name="statusLabel">
	<h1 *ngIf="! pomodoro.editing">{{pomodoro.statusLabel}}</h1>
	<div class="counter">
		<div *ngIf="pomodoro.editing">
			<button class="timer-button" (click)="incrementMin()">&and;</button>
			<button class="timer-button" (click)="decrementMin()">&or;</button>
		</div>
		<div *ngIf="! pomodoro.editing">{{pomodoro.leftDecoration}}</div>
		<div>{{pomodoro.countdown | minutes}}</div>
		:
		<div>{{pomodoro.countdown | seconds}}</div>
		<div *ngIf="pomodoro.editing">
			<button class="timer-button" (click)="incrementSec()">&and;</button>
			<button class="timer-button" (click)="decrementSec()">&or;</button>
		</div>
		<div *ngIf="! pomodoro.editing">{{pomodoro.rightDecoration}}</div>
	</div>
	<div class="action-buttons">
		<button class="timer-button" (click)="onToggle()">[{{pomodoro.stateLabel}}]</button>
		<button class="timer-button" (click)="onReset()">[{{pomodoro.resetLabel}}]</button>
		<button class="timer-button" (click)="onEdit()">[{{pomodoro.editLabel}}]</button>
	</div>
</div>
